
.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.gap-1 {
    gap: 1rem;
}

.gap-2 {
    gap:2rem;
}

.gap-3 {
    gap: 3rem;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.wrap {
    flex-wrap: wrap;
}

.wrap-mobile {

    @media screen and (max-width: 767px) {
        flex-wrap: wrap;
    }
}